{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" type="image/x-icon" href="/static/images/budheraicon.jpeg">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.fancybox.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/video-js.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>BhuderaBliss-Plots</title>
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4KF3X4DDBJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4KF3X4DDBJ');
</script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11343292669">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11343292669');
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T427WQ7V');</script>
<!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W5VL3C8');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VL3C8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- FirstHive Tag Manager -->
<script type="text/javascript">
var _mtm = _mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://firsthive.com/engage/piwik/js/container_612z8pVD.js'; s.parentNode.insertBefore(g,s);
var _paq = _paq || [];
</script>
<!-- End FirstHive Tag Manager -->
<!--  new Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2QHRMC');</script>
<!--  new Google Tag Manager -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PZTX82F');</script>
<!-- End Google Tag Manager -->
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  </head>
  <body>
          <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T427WQ7V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2QHRMC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZTX82F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->



    <!-- Header Section Starts From Here -->
    <header>
      <nav class="navbar navbar-expand-lg " id="nav">
        <div class="container">
          <div class="row w-100">
            <div class="col-md-2 col-sm-2 col-6 col-lg-2">
                <a class="navbar-brand p-0" href="#"><img src="{{ logos.main_logo.url }}" /></a>
            </div>
            <div class="mobilebar col-sm-10 col-6 d-lg-none align-self-center">
              <!-- MENU TOGGLE BUTTON -->
              <a href="#nav" class="nav__toggle" role="button" aria-expanded="false" aria-controls="menu">
                <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                  <title>Toggle Menu</title>
                  <g>
                    <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
                    <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                    <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                    <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
                    <circle class="menuicon__circle" r="23" cx="25" cy="25" />
                  </g>
                </svg>
              </a>
            </div>
          <div class="col-md-10 col-sm-10 col-lg-10 align-self-center">
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Configuration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Brochure</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Amenities</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/">Walkthrough </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Location</a>
              </li>
              <li class="nav-item">
                <a class="btn-type1 " href="javascript:void(0)">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
        </div>
        <ul class="nav__menu" id="menu" tabindex="-1" aria-label="main navigation" hidden>
          <li class="nav__item"><a href="#sectionOne" class="nav__link">Overview</a></li>
          <li class="nav__item"><a href="#configration" class="nav__link">Configuration</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Brouchure</a></li>
          <li class="nav__item"><a href="#gallery" class="nav__link">Gallery</a></li>
          <li class="nav__item"><a href="#catidal" class="nav__link">Amenities</a></li>
          <li class="nav__item"><a href="#videosection" class="nav__link">Walkthrough Video</a></li>
          <li class="nav__item"><a href="#locality" class="nav__link">Location</a></li>
          <li class="nav__item"> <a class="btn-type1 " href="#enquireNow">Enquire Us</a>
          </li>
        </ul>
      <!-- ACTUAL NAVIGATION MENU -->
      </nav>

    </header>


<div class="container mt-5 mb-5">
    <div class="row">
    <div class="col-md-12">
        <h3 class="pri">PRIVACY POLICY</h3>
        <div class="on">
        <p>Personal information including addresses, phone numbers, e-mail addresses, and other demographic information is collected through enquiry forms.</p>
        <p>Budher-Bliss Group takes precautions to protect your individual / personal information from unauthorised use and makes internal use of your contact information only to inform you of projects and services that may interest you. When you voluntarily send us electronic mail, we will keep a record of this information so that we can respond to you. However, we do not disclose your information to other public bodies or individuals except as authorised by law.</p>
        <p>As you travel through the Budhera-Bliss Group website, our servers log information about your session. Information logged includes items such as your IP address, what browser you are using, the time and date you visited, how long your session lasted, and what pages you visited. We use this information from our server logs primarily to learn about our visitors as a group, to track visitors and readership on our website.</p>
        <p>Budhera-Bliss Group reserves the right to change this policy in any manner at any time without prior notice. If we make material changes to our privacy policy, the same will be updated on the website.</p>
    </div>
    </div>
    </div>
</div>


 <section class="band">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>© 2023 copyright Budhera.All rights reserved</h3>
            </div>
          </div>
        </div>
      </section>



  </body>
</html>